# IDEs and Editors
.idea/
.vscode/
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build and Temp folders
target/
backend/target/
frontend/dist/
frontend/node_modules/
node_modules/
.DS_Store
log/
*.log
build-tools/